body{
    font-family: 'supermarketregular', 'supermarketregular';
    font-size: 150% !important;
    background-color: unset;
}
.h4, h4 {
    font-size: 22px;
}
testtttt{
    color:#ACADAC;
}

.nav-md .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

.nav-sm .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: fixed;
}


#headtext{
    text-align: center;
    color: black;
    font-size: 250%;
}


.nav_menu {
    float: left;
    background: #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}
@media (min-width: 768px){
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-left: 20px;
} }

.table {
    width: 80%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: #eaeaea;
    border-radius: 15px ;
    text-align: center;
}
.table3 {
    width: 80%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: #0142f9;
    border-radius: 15px ;
    text-align: center;
    color: #ffffff;
    border-right:solid 2px #000;
}
.tablenew{
    width: 100%;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color :#b0d5ff;
    color: #000000;
    border: none;
  }
  .table-hover2 tbody tr:hover td, .table-hover2 tbody tr:hover th {
    background-color :#ffff66;
    color: #ff0000;
    border: none;
  }
  .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
  }
  table.display thead th {
    padding: 8px 18px 8px 10px;
    border-bottom: 0px solid #000;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}
.headtable{
    text-align: center;
    border-bottom-width: 3px;
}
#headname{
    font-size: 100%;
}
.dropdown {
    display: inline-block;
    
}
.pic{
    border: 0;
    height: 100%;
    width: 80%;
    background-color: #ffffff;
}
.site_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    line-height: 59px;
    display: block;
    height: 55px;
    padding-left: 0px;
    padding-bottom: 150px;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    text-align: center;
}
.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 0px solid #E6E9ED; 
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}
.required{
    color: red;
}
.form-group .btn {
    margin-bottom: -6px;
    width: 30%;
}
#textlist{
    text-align: left;
    padding-left: 30px;
}
#success{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: rgb(35, 185, 158);
    padding-bottom: 5px;
    margin-bottom: 0px;
}
#warning{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: #FDD21E;
    padding-bottom: 5px;
    margin-bottom: 0px;
    
}
#danger{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: #dd403a;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
#dark{
    color: rgb(234, 237, 241);
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: #2A3F54;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
#success2{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: rgb(35, 185, 158);
    padding-bottom: 5px;
    margin-bottom: 0px;
    width: 30%;
    float: center;
}
#warning2{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: #FDD21E;
    padding-bottom: 5px;
    margin-bottom: 0px;
    width: 30%;
    
}
#danger2{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    padding-top: 5px;
    background-color: #dd403a;
    padding-bottom: 5px;
    margin-bottom: 0px;
    width: 30%;
}
.buttonshow{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}
.test{
    font-size: 150%;
}
.fontcolor{
    color: #000;
    background-color: #ffffff;
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 1px #000;
    border-right:solid 1px #000;
}
.use{
    background-color: #f2f2f2;
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 1px #000;
    border-right:solid 1px #000;
}
.tol{
    background-color: #d9e1f2;
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 1px #000;
    border-right:solid 1px #000;
}
.seq{
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 2px #000;
    border-right:solid 2px #000;
    width: 2%;
}
.first_name{
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 1px #000;
    border-right:solid 1px #000;
    width: 20%;
}
.sid{
    border-bottom: solid 1px #000; 
    border-top:solid 1px #000;
    border-left: solid 2px #000;
    border-right:solid 1px #000;
}
.exi{
    width: 5%;
}
.sick{
    width: 5%;
}
.summer{
    width: 5%;
}
.more{
    width: 5%;
}
@media (max-width: 991px){
    .nav-md .container.body .col-md-3.left_col {
        min-height: 100%;
        width: 230px;
        padding: 0;
        position: absolute;
        display: -ms-flexbox;
        display: none;
        z-index: 1;
    }}
strong{
    font-size: 100%;
}
#tableabout{
    text-align: left;
}
#butt{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    background-color: #FDD21E;
    margin-bottom: 0px;
    border-color:  #FDD21E;
}
#butt2{
    color: #ffffff;
    border-radius: 5px ;
    font-size: 100%;
    background-color: #dd403a;
    margin-bottom: 0px;
    border-color:  #dd403a;
}
.form-control{
    height: 45px !important;
    margin-bottom: 5%;
}
input{
    font-size: 120% !important;
}
.ln_solid {
    border-top: 5px solid #e5e5e5;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0;
}
.left_col{
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    background-color: #00c3b2;
}
.nav_title {
    background-color: #00c3b2;
}
.nav.side-menu>li>a{
    font-size: 100%;
    color: #000000 !important;
}
.nav.side-menu>li>a:hover{
    background-color: #07635b;
    color: #000000 !important;
}
.navbar-brand, .navbar-nav>li>a, .site_title {
    color: #000000 !important;
}
.nav-sm .nav.side-menu li a {
    text-align: center !important;
    font-weight: 400;
    font-size: 100%;
    padding: 10px 5px;
}
.nav_menu {
    float: left;
    background: #00c3b2;
    border-bottom: 1px solid #F2F2F2;
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
}
.x_panel {
    margin-top: 90px;
    position: inherit;
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 0px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}
@media (min-width: 768px){
.navbar-right {
    float: inherit !important;
    margin-right: -15px;
}
}
.x_content{
    position: inherit;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-55, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: inherit;
    min-height: 1px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.input-group .form-control:first-child {
    position: inherit;
}
.input-group {
    position: inherit;
    display: table;
    border-collapse: separate;
}
.glyphicon {
    position: inherit;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn-group, .btn-group-vertical {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
}
.edit_text{
    font-size: 150%;
}
.edit_text:hover{
    font-size: 170%;
    color: rgb(255, 0, 0);
}
.dropdown-menu {
    box-shadow: none;
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none;
    padding: 0;
    position: unset;
    text-shadow: none;
    top: 100%;
    z-index: 9998;
    border: 1px solid #D9DEE4;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.service{
    font-size: 120%;
}
.service:hover{
    font-size: 140%;
    color: #0142f9;
    text-decoration: underline !important;
}.icon_style{
    font-size: 10%;
    text-align: right;
    margin-top: 1%;
}
.howto{
    font-size: 90%;
    text-decoration: underline !important;
}
.howto:hover{
    font-size: 90%;
    color:red !important;
    text-decoration: underline !important;
}
.alert{
    font-size: 90%;
    text-decoration: underline !important;
}
.alert:hover{
    font-size: 90%;
    color:red !important;
    text-decoration: underline !important;
}
ul.bar_tabs {
    overflow: visible;
    background: #F5F7FA;
    height: 25px;
    margin: 21px 0 14px;
    padding-left: 14px;
    position: inherit;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #E6E9ED;
}
.nav>li {
    position: inherit;
    display: block;
}
.nav.top_menu>li>a, .nav>li>a {
    position: inherit;
    display: block;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.dataTables_wrapper {
    position: inherit;
    clear: both;
    zoom: 1;
}
.table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: inherit;
}
table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
    display: none;
}
table.dataTable thead .sorting_asc:after {
    content: "\e155";
    display: none;
}
.approve{
    font-size: 100%;
}
.approve:hover{
    font-size: 100%;
    color:red !important;
}
ul.bar_tabs>li {
    border: 1px solid #E6E9ED;
    color: #333 !important;
    margin-top: 0px;
    margin-left: 8px;
    background: #fff;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
.tab_edit{
    margin-top: 5%;
}

@media (max-width: 767px){
    .textHome{
        font-size: 60%;
    }
    .tab_edit{
        margin-top: 75%;
    }
}